@import url(https://fonts.googleapis.com/css?family=Gaegu);

body {
  background-color: #a6dbeb;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: #141477;

  .cowsay {

    label, button {
      display: block;
    }

    ul {
      display: inline-block;
    }
  }
}