@import url('https://fonts.googleapis.com/css?family=Knewave');

$knewave: 'Knewave';

body {
  font-family: $knewave;
  background-color: lightgreen;
  color: darkblue;

  .cowsay {
    label, input {
      display: block;
    }
    ul { 
      display: inline-block;
    }
  }
}
